POSTGRES_PASSWORD=password
POSTGRES_DB=dev_db
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASS=password
DB_DATABASE=dev_db
UDP_SOCKET_PORT=4444
MQTT_BROKER_PORT=1883
PORT_HTTP=8081
ACCESS_TOKEN_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
REFRESH_TOKEN_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
