services:
  db:
    image: postgres
    env_file: ".env"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
      # - ./<DB_PATH>/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d dev_db"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  pgdata: {}